<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="meizhuo.org.lightmeeting"
    android:versionCode="6"
    android:versionName="1.2.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>
     <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="meizhuo.org.lightmeeting.app.AppStart"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- CoreService -->
        <service android:name=".app.CoreService" >
        </service>

        <!-- MeetingData -->
        <activity
            android:name=".acty.MeetingData"
            android:launchMode="singleTask" >
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".acty.MainActivity"
            android:launchMode="singleTask" >
        </activity>

        <!-- Login -->
        <activity
            android:name=".acty.Login"
            android:launchMode="singleTask" >
        </activity>

        <!-- Update_userdata -->
        <activity
            android:name=".acty.Update_userdata"
            android:launchMode="standard" >
        </activity>
        <!-- Lm_meeting_addnewmeet -->
        <activity
            android:name=".acty.Lm_meeting_addnewmeet"
            android:launchMode="singleTask" >
        </activity>
        <!-- Update_meeting -->
        <activity
            android:name=".acty.Update_meeting"
            android:launchMode="standard" >
        </activity>

        <!-- Lm_meeting_selecttime -->
        <activity
            android:name=".acty.Lm_meeting_selecttime"
            android:launchMode="standard" >
        </activity>
        <!-- BusinessCard -->
        <activity
            android:name=".acty.BusinessCard"
            android:launchMode="singleTask" >
        </activity>
        <!-- MeetingData_discuss -->
        <activity
            android:name=".acty.MeetingData_discuss"
            android:launchMode="singleTask" >
        </activity>
        <!-- MeetingData_discuss_item -->
        <activity
            android:name=".acty.MeetingData_discuss_item"
            android:launchMode="singleTask" >
        </activity>
        <!-- MeetingData_research -->
        <activity
            android:name=".acty.MeetingData_research"
            android:launchMode="singleTask" >
        </activity>
        <!-- MeetingData_research_item -->
        <activity
            android:name=".acty.MeetingData_research_item"
            android:launchMode="singleTask" >
        </activity>
        <!-- MeetingData_discuss_update -->
        <activity
            android:name=".acty.MeetingData_discuss_update"
            android:launchMode="singleTask" >
        </activity>
        <!-- MeetingData_discuss_create -->
        <activity
            android:name=".acty.MeetingData_discuss_create"
            android:launchMode="singleTask" >
        </activity>
        <!-- MeetingData_vote -->
        <activity
            android:name=".acty.MeetingData_vote"
            android:launchMode="singleTask" >
        </activity>
        <!-- MeetingData_vote_update -->
        <activity
            android:name=".acty.MeetingData_vote_update"
            android:launchMode="singleTask" >
        </activity>
        <!-- MeetingData_vote_item -->
            <activity
            android:name=".acty.MeetingData_vote_item"
            android:launchMode="singleTask" >
        </activity>
        <!-- Lm_meeting_selecttime_end -->
          <activity
            android:name=".acty.Lm_meeting_selecttime_end"
            android:launchMode="standard" >
        </activity>
        <!-- CaptureActivity -->
        <activity
            android:name=".acty.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <!-- MeetingData_vote_create -->
           <activity
            android:name=".acty.MeetingData_vote_create"
            android:launchMode="singleTask" >
        </activity>
        <!-- MeetingData_discuss_item_tocomment -->
             <activity
            android:name=".acty.MeetingData_discuss_item_tocomment"
            android:launchMode="singleTask" >
        </activity>
        
             <!-- MeetingData_research_item_option -->
             
                  <activity
            android:name=".acty.MeetingData_research_item_option"
            android:launchMode="singleTask" >
        </activity>
        
                  <!-- MeetingData_docdetail -->
                          <activity
            android:name=".acty.MeetingData_docdetail"
            android:launchMode="singleTask" >
        </activity>
        <!-- ShowWebImageActivity -->
                            <activity
            android:name=".acty.ShowWebImageActivity"
            android:launchMode="singleTask" >
        </activity>
      <!-- MdMemberBusinessCard -->
                          <activity
            android:name=".acty.MdMemberBusinessCard"
            android:launchMode="singleTask" >
        </activity>
    </application>

</manifest>
