<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="meizhuo.org.lightmeeting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
        <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
     <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
        <permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
        <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/lm_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="meizhuo.org.lightmeeting.app.AppStart"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- CoreService -->
       <service android:name=".app.CoreService" >
        </service>
        
         <!-- MeetingData -->
        <activity 
            android:name=".acty.MeetingData"
            android:launchMode="singleTask"
            >
        </activity>
       
        <!-- MainActivity -->
          <activity 
            android:name=".acty.MainActivity"
            android:launchMode="singleTask"
            >
        </activity>
        
        <!-- Login -->
       <activity 
            android:name=".acty.Login" 
            android:launchMode="singleTask"
            >
        </activity>
        
       <!-- Update_userdata -->
       <activity 
           android:name=".acty.Update_userdata"
              android:launchMode="standard" 
           ></activity>
      <!-- Lm_meeting_addnewmeet -->
         <activity 
            android:name=".acty.Lm_meeting_addnewmeet" 
            android:launchMode="singleTask"
            >
        </activity>
        <!-- Update_meeting -->
           <activity 
            android:name=".acty.Update_meeting" 
            android:launchMode="standard"
            >
        </activity>
        
           <!-- Lm_meeting_selecttime -->
              <activity 
           android:name=".acty.Lm_meeting_selecttime"
              android:launchMode="standard" 
           ></activity>
              <!-- BusinessCard -->
              <activity 
                  android:name=".acty.BusinessCard"
                  android:launchMode="singleTask"
                  ></activity>
    </application>

</manifest>
